body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
