
.dashboard {
  padding: 35px 60px 10px;
}
.dashboard h1 {
  font-size: 26px;
  margin: 0;
  font-weight: 600;
}
.dashboard p {
  color: #6b7280;
  font-size: 15px;
  margin-top: 5px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  background: #fff;
  width: 950px;
  padding: 10px 30px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  gap: 200px;
  flex-wrap: wrap;
}
.tabs a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.menu-box {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  margin: 25px auto;
  padding: 25px;
  max-width: 950px;
}
.menu-header {
  font-size: 17px;
  font-weight: 600;
  color: #111;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.menu-header i {
  color: #dc2626;
}

.card {
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  margin: 18px 0;
  padding: 18px;
}
.card h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}
.available {
  background: #dcfce7;
  color: #16a34a;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 10px;
  margin-left: 6px;
  font-weight: 500;
}
.price {
  float: right;
  font-weight: 500;
  color: #2563eb;
  font-size: 15px;
}
.time {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #6b7280;
  margin: 10px 0;
  gap: 6px;
}
.items span {
  background: #f3f4f6;
  padding: 5px 10px;
  margin: 5px 5px 0 0;
  border-radius: 10px;
  font-size: 12px;
  display: inline-block;
}
.select-btn {
  display: block;
  text-align: center;
  margin-top: 15px;
  padding: 6px 12px;
  border-radius: 11px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-size: 13px;
}
.selected {
  background: #22c55e;
}
.not-selected {
  background: #4f46e5;
}

@media (max-width: 1024px) {
  .tabs {
    width: 90%;
    gap: 50px;
    padding: 10px 20px;
  }
  .menu-box {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 12px 20px;
  }
  .dashboard {
    padding: 25px 20px 10px;
  }
  .tabs {
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
  }
  .tabs a {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .navbar-right {
    margin-top: 8px;
  }
  .dashboard h1 {
    font-size: 20px;
  }
  .tabs {
    flex-direction: column;
    width: 95%;
    text-align: center;
    gap: 15px;
  }
  .tabs a {
    font-size: 14px;
    justify-content: center;
  }
  .menu-box {
    padding: 15px;
    width: 95%;
  }
  .card h3 {
    font-size: 14px;
  }
  .price {
    font-size: 13px;
  }
  .time {
    font-size: 12px;
  }
}